body {
  font-family: 'Press Start 2P';
  text-align: center;
  color: orange;
  font-size: 1.0vw;
  background-image: url('images/wallpaper.png');
  /*background: rgb(111, 17, 17);*/
  background-position: center;
  background-size: cover;
}

progress {
  background-color: orange;
  width: 648px;
  height: 25px;
  display: inline;
}

progress::-webkit-progress-bar {
  background-color: green;
  width: 648px;
  height: 25px;
  display: inline;
}

h4{
  font-size: 3vw;
}

button {
  background-color: orange;
  border: none;
  color: white;
  width: 30%;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-family: 'Press Start 2P';
  font-size: 0.8vw;
}

canvas {
  border: 4px solid #222222;
  display: inline;
}

#left {
  box-sizing: border-box;
}

#right {
  box-sizing: border-box;
  text-align: left;
}

#right #legend {
  margin: 0px;
  padding: 0px;
}

#right #legend p {
  margin: 0px;
}

#right #legend img {
  width: 32px;
}

#banner {
  display: inline-block;
}

#title {
  display: inline;
}

#keys {
  max-width: 200px;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 1240px) {
  #right {
    display: none;
  }
}
