body {
  font-family: 'Press Start 2P';
  text-align: center;
  color: orange;
  font-size: 18px;
  background-image: url('images/wallpaper.jpg');
  background-position: center;
  background-size: cover;
}

progress {
  background-color: green;
  width: 640px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  display: inline-block;
  align-content: center;
  margin: 0;
}

button {
  background-color: orange;
  border: none;
  color: white;
  padding: 8px 260px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Press Start 2P';
  font-size: 12px;
}
