body {
  font-family: 'Press Start 2P';
  text-align: center;
  color: orange;
  font-size: 15px;
  background-image: url('images/wallpaper.jpg');
  background-position: center;
  background-size: cover;
}

progress {
  background-color: green;
  width: 648px;
  height: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: orange;
  border: none;
  color: white;
  padding: 5px 264px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Press Start 2P';
  font-size: 12px;
}

canvas {
  border: 4px solid #222222;
}

#banner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}
